.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.color-button{
  border-radius: 38rem;
  width: 3rem;
  height: 3rem;
  border: none;
  margin: .5rem;
}   

.red-btn{
  background-color: #FF0000;
  color: #FF0000;
}

.green-btn{
  background-color: #00FF00;
  color: #00FF00;
}

.blue-btn{
  background-color: #0000FF;
  color: #0000FF;
}

.canvas{
  border: .2rem solid black;
  border-radius: 2rem;
  margin: 2rem auto 0 auto;
}
